<div>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</div>

<div>
    <div *ngFor="let user of userList">
        <div *ngIf="searchText === '' 
        || user.username.toLowerCase().replace('-', ' ').includes(searchText.toLowerCase())
        || user.firstname.toLowerCase().includes(searchText.toLowerCase())
        || user.lastname.toLowerCase().includes(searchText.toLowerCase())">
            <div class="flex">
                <p>{{ user.firstname }}</p>
                <p>{{ user.lastname }}</p>
            </div>
            <div>
                <p>{{ user.email }}</p>
                <p>{{ user.description }}</p>
            </div>
            <div>
                <p>{{ user.lastModified }}</p>
            </div>
            <button mat-raised-button (click)="deleteUser(user.id)">delete</button>
        </div>
    </div>
</div>