<div>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</div>

<div class="user-container">
    <div *ngFor="let user of userList">
        <div class="user" *ngIf="searchText === '' 
        || user.username.toLowerCase().replace('-', ' ').includes(searchText.toLowerCase())
        || user.firstname.toLowerCase().includes(searchText.toLowerCase())
        || user.lastname.toLowerCase().includes(searchText.toLowerCase())">
            <div class="flex">
                <p><span>Name:</span> {{ user.firstname}}</p>
                <p>{{user.lastname }}</p>
            </div>
            <div>
                <p><span>Email:</span> {{ user.email }}</p>
                <p class="description"><span>Description:</span> {{ user.description }}</p>
            </div>
            <div class="date-container">
                <p>User created:</p>
                <p>{{ getDateTimeFromTimestamp(user.lastModified).formattedDate }}</p>
                <p>|</p>
                <p>{{ getDateTimeFromTimestamp(user.lastModified).formattedTime }}</p>
            </div>
            <div class="btn-container">
                <button mat-raised-button (click)="deleteUser(user.id)">Delete</button>
                <button mat-raised-button (click)="openDialog(user.id)">Edit</button>
            </div>
        </div>
    </div>
</div>